body { 
  background-image: url("website_wallpaper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}
html * {
   color: #000;
   font-family: 'Quicksand', sans-serif;

}
#potatoImg{
  width:400px; height:43px;   
}
